## [Lendo planilhas xlsx](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

In [3]:
# imports
import pandas as pd

In [2]:
# Diretório com as planilhas

data_path = 'C:\\Users\\anton\\OneDrive\\Documentos\\Treinamento Cientista de Dados\\Python Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\xlsx\\'

#### a) Lendo arquivos xlsx passando o nome diretamente

In [ ]:
dataframe = pd.read_excel(data_path+'Dataset.xlsx')
print(type(dataframe))
print()
print(dataframe)
print()
dataframe.describe()

#### b) Lendo arquivos xlsx acessando posição na lista criada anteriormente

In [ ]:
df = pd.read_excel(data_path + files[1])
print(type(df))
print()
print(df)
print()
df.describe()

#### c) Lendo uma aba da planilha.
**Parâmetro sheet_name**

In [4]:
df = pd.read_excel(data_path+'Road-Accident-Safety-Data-Guide-1979-2004.xls',sheet_name='Casualty Type')
df

    code                                              label
0      0                                         Pedestrian
1      1                                            Cyclist
2      2       Motorcycle 50cc and under rider or passenger
3      3      Motorcycle 125cc and under rider or passenger
4      4  Motorcycle over 125cc and up to 500cc rider or...
5      5           Motorcycle over 500cc rider or passenger
6      8                     Taxi/Private hire car occupant
7      9                                       Car occupant
8     10          Minibus (8 - 16 passenger seats) occupant
9     11      Bus or coach occupant (17 or more pass seats)
10    16                                        Horse rider
11    17                      Agricultural vehicle occupant
12    18                                      Tram occupant
13    19  Van / Goods vehicle (3.5 tonnes mgw or under) ...
14    20  Goods vehicle (over 3.5t. and under 7.5t.) occ...
15    21   Goods vehicle (7.5 tonnes mgw and over) occupant
16    22                             Mobility scooter rider
17    23             Electric motorcycle rider or passenger
18    90                             Other vehicle occupant
19    97         Motorcycle - unknown cc rider or passenger
20    98            Goods vehicle (unknown weight) occupant
21   103            Motorcycle - Scooter rider or passenger
22   104                      Motorcycle rider or passenger
23   105        Motorcycle - Combination rider or passenger
24   106           Motorcycle over 125cc rider or passenger
25   108        Taxi (excluding private hire cars) occupant
26   109         Car occupant (including private hire cars)
27   110                     Minibus/Motor caravan occupant
28   113           Goods vehicle (over 3.5 tonnes) occupant

## [Lendo arquivos CSV](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) ou arquivos de texto

In [3]:
# Armazene em uma variável o local onde estarão os arquivos que serão utilizados
data_path = 'C:\\Users\\anton\\OneDrive\\Documentos\\Treinamento Cientista de Dados\\Python Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\csv\\'

# Criando o dataframe
df_csv = pd.read_csv(data_path+'Arquivo-Treino.csv')

# Descreva o DF
print(df_csv.describe())
#print(df_csv)
print(df_csv.head())

       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       614.000000         614.000000  592.000000         600.00000
mean       5403.459283        1621.245798  146.412162         342.00000
std        6109.041673        2926.248369   85.587325          65.12041
min         150.000000           0.000000    9.000000          12.00000
25%        2877.500000           0.000000  100.000000         360.00000
50%        3812.500000        1188.500000  128.000000         360.00000
75%        5795.000000        2297.250000  168.000000         360.00000
max       81000.000000       41667.000000  700.000000         480.00000

       Credit_History
count      564.000000
mean         0.842199
std          0.364878
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y