### Gerando arquivos

#### Gerar arquivo Excel
[Método to_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html#pandas-dataframe-to-excel) Escreva o objeto em uma planilha do Excel.

**Para gravar um único objeto em um arquivo Excel .xlsx:** É necessário apenas especificar um nome de arquivo de destino. 

**Para gravar em várias planilhas**: É necessário criar um objeto ExcelWriter com um nome de arquivo de destino e especificar uma planilha no arquivo para gravar.

**Múltiplas planilhas podem ser gravadas especificando-se sheet_name exclusivo**

Com todos os dados gravados no arquivo, é necessário salvar as alterações. 

Observe que a criação de um objeto ExcelWriter com um nome de arquivo já existente fará com que o conteúdo do arquivo existente seja apagado.

In [2]:
# imports
import pandas as pd

# Armazene em uma variável o local onde estarão os arquivos que serão utilizados
data_path = 'C:\\Users\\anton\\OneDrive\\Documentos\\Treinamento Cientista de Dados\\Python Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\csv\\'

# lendo arquivo csv
data = pd.read_csv(data_path+'netflix_titles.csv')

In [3]:
# Exportar os dados fatiados para uma arquivo excel

# Retornando 2 colunas e fatiando
sliced_df = data[['title','director']][100:900]
print("Tipo: ", type(sliced_df))
sliced_df

sliced_df.to_excel('sliced_netflix.xlsx')

Tipo:  <class 'pandas.core.frame.DataFrame'>

#### Gerar arquivo CSV
[Método to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html#pandas-dataframe-to-csv) Grave o objeto em um arquivo csv.

In [4]:
sliced_df.to_csv('sliced_netflix.csv')

sliced_df

                              title         director
100                        3 Idiots  Rajkumar Hirani
101               3 Seconds Divorce     Shazia Javed
102             3 Türken & ein Baby      Sinan Akkuş
103               30 Days of Luxury       Hani Hamdi
104              30 Minutes or Less  Ruben Fleischer
..                              ...              ...
895                  Bibi & Tina II      Detlev Buck
896  Bibi & Tina: Girls Versus Boys      Detlev Buck
897   Bibi & Tina: Tohuwabohu Total      Detlev Buck
898                   Bibik-Bibikku              NaN
899             Big Bad Beetleborgs              NaN

[800 rows x 2 columns]

#### Gerar arquivo JSON
[Método to_json](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html#pandas-dataframe-to-json) Converta o objeto em uma string JSON.

In [5]:
sliced_df.to_json('sliced_netflix.json')

#### Gerar arquivo HTML

In [7]:
sliced_df.to_html('sliced_netflix.html')