In [27]:
import pandas as pd

Exercício 1: Crie um dataframe a partir dos dados abaixo.
**Importante:** Mantenha a ordem dos dados! <br>
estado = 'SP','DF','MT','SC','RS','GO'<br>
ano    = 2020,2020,2020,2020,2020,2020<br>
pop    = 46289333,3055149,3526220,7252502,11422973,7113540<br>
area   = 248219,5760,903207,95730,281707,340242<br>

In [3]:
data = {
            'estado' : ['SP','DF','MT','SC','RS','GO'],
            'ano' : [2020,2020,2020,2020,2020,2020],
            'pop' : [46289333,3055149,3526220,7252502,11422973,7113540],
            'area' : [248219,5760,903207,95730,281707,340242]
        }

df = pd.DataFrame(data)
df

  estado   ano       pop    area
0     SP  2020  46289333  248219
1     DF  2020   3055149    5760
2     MT  2020   3526220  903207
3     SC  2020   7252502   95730
4     RS  2020  11422973  281707
5     GO  2020   7113540  340242

Exercício 2: Crie um dataframe lendo a planilha reddit_vm.xlsx que foi disponibilizada.
Apresente as colunas e descreva o dataframe

In [5]:
# Definindo o local dos arquivos excel
data_path = 'C:\\Users\\anton\\OneDrive\\Documentos\\Treinamento Cientista de Dados\\Python Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\xlsx\\'

In [20]:
# Criando o dataframe
df = pd.read_excel(data_path+'reddit_vm.xlsx')

print("Apresentando as colunas")
print(df.columns)
print()

print("Descrevendo o dataframe")
print(df.describe())
print()

Apresentando as colunas
Index(['title', 'score', 'id', 'url', 'comms_num', 'created', 'body',
       'timestamp', 'Unnamed: 8'],
      dtype='object')

Descrevendo o dataframe
             score    comms_num       created
count  1424.000000  1424.000000  1.424000e+03
mean      3.887640     1.982444  1.537771e+09
std      31.648034    17.083783  6.971861e+07
min     -12.000000     0.000000  1.389624e+09
25%       1.000000     0.000000  1.553488e+09
50%       1.000000     0.000000  1.564984e+09
75%       4.000000     1.000000  1.578632e+09
max    1185.000000   596.000000  1.614933e+09

Exercício 3: Leia os arquivos do diretório e guarde em uma lista, em seguida gere um dataframe utilizando o indice da lista. Use um arquivo a sua escolha. <br>

- Apresente os arquivos que estão no diretório
- Apresente as primeiras linhas do dataframe 
- Descreva o dataframe

In [30]:
# Listando os arquivos
import os

files = os.listdir()
files

# Mostre todos os arquivos no diretório
#df = pd.DataFrame(files[0])
#df

['1 - Pandas - Introdução.ipynb',
 '2 - Pandas - Lendo Arquivos.ipynb',
 '3 - Pandas - Manipulando Dataframes.ipynb',
 '4 - Pandas - Gerando Arquivos.ipynb',
 'exercícios-pandas-dia3 - soluções.ipynb',
 'exercícios-pandas-dia3.ipynb',
 'referencias',
 'sample-data',
 'sliced_netflix.csv',
 'sliced_netflix.html',
 'sliced_netflix.json',
 'sliced_netflix.xlsx']

In [ ]:
# Lendo os dados

Exercício 4: Crie um dataframe de uma pandas series. Utilize as listas abaixo.

In [ ]:
author = ['Sebastião', 'Carla', 'Júlio', 'Juliana', 'Mariana'] 
article = [856, 1511, 1478, 3500, 8522] 

# Seu código aqui

Exercício 5 : Crie um dataframe, apresente as colunas e as primeiras linhas seguindo os passos abaixo:
* Crie um dataframe com 2 colunas, uma com 100 floats usando [Numpy Random](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html#numpy-random-random) e outra gerando 100 inteiros utilizando [RandInt](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html#numpy-random-randint)
* A coluna 1 deve ser nomeada como floats e a 2 deve ser nomeada integers
* Apresente o datatype de cada coluna

Exercício 6: Escreva um programa Pandas para criar e exibir um DataFrame a partir de dados de um dicionário especificado que possui os rounds como índice.<br>

nome = \['Gabriel', 'Michel', 'Antonio', 'Gisele', 'Sônia', 'Emily', 'Sub-Zero', 'Shang-Tsung', 'Scorpion', 'Kitana'] 
<br>
pontos= \[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]<br>
tentativas = \[1, 3, 2, 3, 2, 3, 1, 1, 2, 1]<br>
qualificado = \['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
rounds = ['round1', 'round2', 'round3', 'round4', 'round5', 'round6', 'round7', 'round8', 'round9', 'round10']

* Apresente o dataframe
* Descreva o dataframe

Exercício 7: Leia o arquivo xlsx Road-Accident-Safety-Data-Guide-1979-2004 a sheet 'Casualty Type' e mostre sua informações:<br>
__*Veja qual o parametro para ler a sheet_name [aqui](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html#pandas-read-excel)*.__
* Quantos registros o dataframe tem?
* Qual o tamanho ocupado em memória?
* Quantas colunas ele tem? Apresente as colunas.
* Conte a quantidade de registros na primeira coluna
* Conte a quantidade de registros únicos na segunda coluna

In [ ]:
# Lendo o arquivo xls utilizando a aba correta

In [ ]:
# quantidade de registros

In [3]:
# Aqui pode ver a quantidade de colunas e o tamanho em memória

In [ ]:
# Registros na coluna 1

In [ ]:
# Registros únicos na coluna 2

Exercício 8: Exporte a coluna 2 do dataframe anterior para os seguintes formatos e mostre-os no diretório:<br>
*Verifique qual dos arquivos ocupa menos espaço*

* csv
* json
* html

In [75]:
# Para CSV

In [76]:
# Para JSON

In [83]:
# Para HTML