In [10]:
import pandas as pd

Exercício 1: Crie um dataframe a partir dos dados abaixo.
**Importante:** Mantenha a ordem dos dados! <br>
estado = 'SP','DF','MT','SC','RS','GO'<br>
ano    = 2020,2020,2020,2020,2020,2020<br>
pop    = 46289333,3055149,3526220,7252502,11422973,7113540<br>
area   = 248219,5760,903207,95730,281707,340242<br>

In [11]:
data = {
            'estado' : ['SP','DF','MT','SC','RS','GO'],
            'ano' : [2020,2020,2020,2020,2020,2020],
            'pop' : [46289333,3055149,3526220,7252502,11422973,7113540],
            'area' : [248219,5760,903207,95730,281707,340242]
        }

df = pd.DataFrame(data)
df

  estado   ano       pop    area
0     SP  2020  46289333  248219
1     DF  2020   3055149    5760
2     MT  2020   3526220  903207
3     SC  2020   7252502   95730
4     RS  2020  11422973  281707
5     GO  2020   7113540  340242

Exercício 2: Crie um dataframe lendo a planilha reddit_vm.xlsx que foi disponibilizada.
Apresente as colunas e descreva o dataframe

In [19]:
# Definindo o local dos arquivos excel
data_path = 'C:\\Users\\anton\\OneDrive\\Documentos\\Treinamento Cientista de Dados\\Python Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\xlsx\\'

In [13]:
# Criando o dataframe
df = pd.read_excel(data_path+'reddit_vm.xlsx')

print("Apresentando as colunas")
print(list(df.columns))
print()

print("Descrevendo o dataframe")
print(df.describe())
print()

Apresentando as colunas
['title', 'score', 'id', 'url', 'comms_num', 'created', 'body', 'timestamp', 'Unnamed: 8']

Descrevendo o dataframe
             score    comms_num       created
count  1424.000000  1424.000000  1.424000e+03
mean      3.887640     1.982444  1.537771e+09
std      31.648034    17.083783  6.971861e+07
min     -12.000000     0.000000  1.389624e+09
25%       1.000000     0.000000  1.553488e+09
50%       1.000000     0.000000  1.564984e+09
75%       4.000000     1.000000  1.578632e+09
max    1185.000000   596.000000  1.614933e+09

Exercício 3: Leia os arquivos do diretório e guarde em uma lista, em seguida gere um dataframe utilizando o indice da lista. Use um arquivo a sua escolha. <br>

- Apresente os arquivos que estão no diretório
- Apresente as primeiras linhas do dataframe 
- Descreva o dataframe

In [14]:
# Listando os arquivos
import os

files = os.listdir()
print(type(files))
files

<class 'list'>

['1 - Pandas - Criando DataFrames.ipynb',
 '2 - Pandas - Manipulando Dataframes.ipynb',
 '3 - Pandas - Lendo Arquivos.ipynb',
 '4 - Pandas - Gerando Arquivos.ipynb',
 'exercícios-pandas-dia3 - soluções.ipynb',
 'exercícios-pandas-dia3.ipynb',
 'referencias',
 'sample-data',
 'sliced_netflix.csv',
 'sliced_netflix.html',
 'sliced_netflix.json',
 'sliced_netflix.xlsx']

In [15]:
# Lendo os dados
df = pd.read_excel(files[-1]) # Lendo o elemento do último índice
df

     Unnamed: 0                           title         director
0           100                        3 Idiots  Rajkumar Hirani
1           101               3 Seconds Divorce     Shazia Javed
2           102             3 Türken & ein Baby      Sinan Akkuş
3           103               30 Days of Luxury       Hani Hamdi
4           104              30 Minutes or Less  Ruben Fleischer
..          ...                             ...              ...
795         895                  Bibi & Tina II      Detlev Buck
796         896  Bibi & Tina: Girls Versus Boys      Detlev Buck
797         897   Bibi & Tina: Tohuwabohu Total      Detlev Buck
798         898                   Bibik-Bibikku              NaN
799         899             Big Bad Beetleborgs              NaN

[800 rows x 3 columns]

Exercício 4: Crie um dataframe de uma pandas series. Utilize as listas abaixo.

In [16]:
author = ['Sebastião', 'Carla', 'Júlio', 'Juliana', 'Mariana'] 
article = [856, 1511, 1478, 3500, 8522] 

# Seu código aqui
author_series = pd.Series(author)
article_series = pd.Series(article)

frame = {'Author':author_series,'Article':article_series}

df = pd.DataFrame(frame)
df

      Author  Article
0  Sebastião      856
1      Carla     1511
2      Júlio     1478
3    Juliana     3500
4    Mariana     8522

Exercício 5 : Crie um dataframe, apresente as colunas e as primeiras linhas seguindo os passos abaixo:
* Crie um dataframe com 2 colunas, uma com 100 floats usando [Numpy Random](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html#numpy-random-random) e outra gerando 100 inteiros utilizando [RandInt](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html#numpy-random-randint)
* A coluna 1 deve ser nomeada como floats e a 2 deve ser nomeada integers
* Apresente o datatype de cada coluna

In [17]:
import numpy as np

floats = np.random.rand(100) # Frame de 100 floats
print("Floats")
print(floats)
print()

integers = np.random.randint(100,size=100) # Frame de 100 inteiros de 0 à 100
print("Inteiros")
print(integers)
print()

print("Dataframe")
df = pd.DataFrame({"Floats":floats,"Integers":integers})
print(df)  
print()

print("Datatype coluna flots",df.Floats.dtype)
print("Datatype coluna integers",df.Integers.dtype)
print()

#ou
print("Usando info()")
df.info()

Floats
[0.75162073 0.16989583 0.37926438 0.08597291 0.46175266 0.14446812
 0.11653083 0.0055686  0.43585893 0.15933015 0.00555251 0.12105615
 0.28300412 0.122041   0.85648947 0.10284996 0.18426501 0.15319317
 0.97476715 0.0139722  0.46170076 0.27327148 0.26968964 0.30616523
 0.15706325 0.25382067 0.41930745 0.19998648 0.77371306 0.37841454
 0.67747505 0.29041086 0.43190737 0.03327259 0.34325149 0.36221458
 0.39559285 0.00122277 0.43418209 0.26221098 0.19084442 0.59253123
 0.05006957 0.23773163 0.55790354 0.34170225 0.12164361 0.32351053
 0.05230129 0.01969019 0.77919124 0.57459405 0.74823973 0.28406439
 0.29758113 0.16724002 0.46102625 0.28428045 0.14222051 0.59202715
 0.62223608 0.67631753 0.66911458 0.76747949 0.18670292 0.72090655
 0.4692112  0.67781921 0.5815894  0.77496903 0.13417264 0.21418296
 0.67489579 0.1907623  0.99152152 0.3507529  0.8397896  0.94055232
 0.73365172 0.56157481 0.14575628 0.06366995 0.62109051 0.18505344
 0.33677398 0.24753888 0.20416522 0.39565887 0.79480603 0.03651683
 0.28932116 0.91331493 0.16172328 0.35310473 0.35605564 0.26396677
 0.49278254 0.20932233 0.38561931 0.74357419]

Inteiros
[88  0  3 30 45 31 73  9 86 78 62 78 65 78 22 65 93 19 74 56 15 11 10 65
  1 63 48 81 90 19 65 20 57  9  2 22 26 58 21 39 20 46 19 40 16 95 97  3
 28 36 63  9 81 65 99 47 31  1 90 90 49 20 45 37 39 67 58 28 94 23 50 86
 50 69  1 85 83  7 39 24 60 92 28 29 71 49 62 80 25 80  1 69 72 79 92 94
 35 10  3 49]

Dataframe
      Floats  Integers
0   0.751621        88
1   0.169896         0
2   0.379264         3
3   0.085973        30
4   0.461753        45
..       ...       ...
95  0.263967        94
96  0.492783        35
97  0.209322        10
98  0.385619         3
99  0.743574        49

[100 rows x 2 columns]

Datatype coluna flots float64
Datatype coluna integers int32

Usando info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Floats    100 non-null    float64
 1   Integers  100 non-null    int32
dtypes: float64(1), int32(1)
memory usage: 1.3 KB

Exercício 6: Escreva um programa Pandas para criar e exibir um DataFrame a partir de dados de um dicionário especificado que possui os rounds como índice.<br>

nome = \['Gabriel', 'Michel', 'Antonio', 'Gisele', 'Sônia', 'Emily', 'Sub-Zero', 'Shang-Tsung', 'Scorpion', 'Kitana'] 
<br>
pontos= \[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]<br>
tentativas = \[1, 3, 2, 3, 2, 3, 1, 1, 2, 1]<br>
qualificado = \['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
rounds = ['round1', 'round2', 'round3', 'round4', 'round5', 'round6', 'round7', 'round8', 'round9', 'round10']

* Apresente o dataframe
* Descreva o dataframe

In [18]:
nome = ['Gabriel', 'Michel', 'Antonio', 'Gisele', 'Sônia', 'Emily', 'Sub-Zero', 'Shang-Tsung', 'Scorpion', 'Kitana']
pontos = [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19]
tentativas = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
qualificado = ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'] 
rounds = ['round1', 'round2', 'round3', 'round4', 'round5', 'round6', 'round7', 'round8', 'round9', 'round10']

df = pd.DataFrame({
                    'nome':nome,'pontos':pontos,'tentativas':tentativas,
                    'qualificado':qualificado
                    },index=rounds)
df

                nome  pontos  tentativas qualificado
round1       Gabriel    12.5           1         yes
round2        Michel     9.0           3          no
round3       Antonio    16.5           2         yes
round4        Gisele     NaN           3          no
round5         Sônia     9.0           2          no
round6         Emily    20.0           3         yes
round7      Sub-Zero    14.5           1         yes
round8   Shang-Tsung     NaN           1          no
round9      Scorpion     8.0           2          no
round10       Kitana    19.0           1         yes

In [51]:
df.describe()

          pontos  tentativas
count   8.000000   10.000000
mean   13.562500    1.900000
std     4.693746    0.875595
min     8.000000    1.000000
25%     9.000000    1.000000
50%    13.500000    2.000000
75%    17.125000    2.750000
max    20.000000    3.000000

Exercício 7: Leia o arquivo xlsx Road-Accident-Safety-Data-Guide-1979-2004 a sheet 'Casualty Type' e mostre sua informações:<br>
__*Veja qual o parametro para ler a sheet_name [aqui](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html#pandas-read-excel)*.__
* Quantos registros o dataframe tem?
* Qual o tamanho ocupado em memória?
* Quantas colunas ele tem? Apresente as colunas.
* Conte a quantidade de registros na primeira coluna
* Conte a quantidade de registros únicos na segunda coluna

In [20]:
# Lendo o arquivo xls utilizando a aba correta
df = pd.read_excel(data_path+'Road-Accident-Safety-Data-Guide-1979-2004.xls',sheet_name='Casualty Type')
df

    code                                              label
0      0                                         Pedestrian
1      1                                            Cyclist
2      2       Motorcycle 50cc and under rider or passenger
3      3      Motorcycle 125cc and under rider or passenger
4      4  Motorcycle over 125cc and up to 500cc rider or...
5      5           Motorcycle over 500cc rider or passenger
6      8                     Taxi/Private hire car occupant
7      9                                       Car occupant
8     10          Minibus (8 - 16 passenger seats) occupant
9     11      Bus or coach occupant (17 or more pass seats)
10    16                                        Horse rider
11    17                      Agricultural vehicle occupant
12    18                                      Tram occupant
13    19  Van / Goods vehicle (3.5 tonnes mgw or under) ...
14    20  Goods vehicle (over 3.5t. and under 7.5t.) occ...
15    21   Goods vehicle (7.5 tonnes mgw and over) occupant
16    22                             Mobility scooter rider
17    23             Electric motorcycle rider or passenger
18    90                             Other vehicle occupant
19    97         Motorcycle - unknown cc rider or passenger
20    98            Goods vehicle (unknown weight) occupant
21   103            Motorcycle - Scooter rider or passenger
22   104                      Motorcycle rider or passenger
23   105        Motorcycle - Combination rider or passenger
24   106           Motorcycle over 125cc rider or passenger
25   108        Taxi (excluding private hire cars) occupant
26   109         Car occupant (including private hire cars)
27   110                     Minibus/Motor caravan occupant
28   113           Goods vehicle (over 3.5 tonnes) occupant

In [94]:
# quantidade de registros
df.shape[0]

29

In [95]:
# Aqui pode ver a quantidade de colunas e o tamanho em memória
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    29 non-null     int64
 1   label   29 non-null     object
dtypes: int64(1), object(1)
memory usage: 592.0+ bytes

In [96]:
# Quantas colunas ele tem ? Apresente as colunas
print("Quantidade de colunas: ",df.shape[1])

print("Colunas", [x for x in df.columns])

Quantidade de colunas:  2
Colunas ['code', 'label']

In [27]:
# Conte a quantidade de registros na coluna 1
df[df.columns[0]].count()

29

In [36]:
# Conte a quantidade de registros únicos na coluna 2
print("Registros duplicados")
print(df[df[df.columns[1]].duplicated()])
print()
df[df.columns[1]].nunique()

Registros duplicados
Empty DataFrame
Columns: [code, label]
Index: []

29

Exercício 8: Exporte a coluna 2 do dataframe anterior para os seguintes formatos e mostre-os no diretório:<br>
*Verifique qual dos arquivos ocupa menos espaço*

* csv
* json
* html

In [37]:
# Para CSV
df[df.columns[1]].to_csv('coluna 2.csv')
df

    code                                              label
0      0                                         Pedestrian
1      1                                            Cyclist
2      2       Motorcycle 50cc and under rider or passenger
3      3      Motorcycle 125cc and under rider or passenger
4      4  Motorcycle over 125cc and up to 500cc rider or...
5      5           Motorcycle over 500cc rider or passenger
6      8                     Taxi/Private hire car occupant
7      9                                       Car occupant
8     10          Minibus (8 - 16 passenger seats) occupant
9     11      Bus or coach occupant (17 or more pass seats)
10    16                                        Horse rider
11    17                      Agricultural vehicle occupant
12    18                                      Tram occupant
13    19  Van / Goods vehicle (3.5 tonnes mgw or under) ...
14    20  Goods vehicle (over 3.5t. and under 7.5t.) occ...
15    21   Goods vehicle (7.5 tonnes mgw and over) occupant
16    22                             Mobility scooter rider
17    23             Electric motorcycle rider or passenger
18    90                             Other vehicle occupant
19    97         Motorcycle - unknown cc rider or passenger
20    98            Goods vehicle (unknown weight) occupant
21   103            Motorcycle - Scooter rider or passenger
22   104                      Motorcycle rider or passenger
23   105        Motorcycle - Combination rider or passenger
24   106           Motorcycle over 125cc rider or passenger
25   108        Taxi (excluding private hire cars) occupant
26   109         Car occupant (including private hire cars)
27   110                     Minibus/Motor caravan occupant
28   113           Goods vehicle (over 3.5 tonnes) occupant

In [76]:
# Para JSON
df[df.columns[1]].to_json('coluna 2.json')
df

In [62]:
# Para HTML - Só funciona com Dataframe, não Series
dfc1 = df[[df.columns[1]]]
print(type(dfc1))

dfc1.to_html('coluna 2.html')
dfc1

<class 'pandas.core.frame.DataFrame'>

                                                label
0                                          Pedestrian
1                                             Cyclist
2        Motorcycle 50cc and under rider or passenger
3       Motorcycle 125cc and under rider or passenger
4   Motorcycle over 125cc and up to 500cc rider or...
5            Motorcycle over 500cc rider or passenger
6                      Taxi/Private hire car occupant
7                                        Car occupant
8           Minibus (8 - 16 passenger seats) occupant
9       Bus or coach occupant (17 or more pass seats)
10                                        Horse rider
11                      Agricultural vehicle occupant
12                                      Tram occupant
13  Van / Goods vehicle (3.5 tonnes mgw or under) ...
14  Goods vehicle (over 3.5t. and under 7.5t.) occ...
15   Goods vehicle (7.5 tonnes mgw and over) occupant
16                             Mobility scooter rider
17             Electric motorcycle rider or passenger
18                             Other vehicle occupant
19         Motorcycle - unknown cc rider or passenger
20            Goods vehicle (unknown weight) occupant
21            Motorcycle - Scooter rider or passenger
22                      Motorcycle rider or passenger
23        Motorcycle - Combination rider or passenger
24           Motorcycle over 125cc rider or passenger
25        Taxi (excluding private hire cars) occupant
26         Car occupant (including private hire cars)
27                     Minibus/Motor caravan occupant
28           Goods vehicle (over 3.5 tonnes) occupant

In [61]:
psc1 = df[df.columns[1]] # Panda Series
print(type(psc1))
print()

psc1.to_html('coluna 2.html')
psc1

<class 'pandas.core.series.Series'>

AttributeError: 'Series' object has no attribute 'to_html'