In [2]:
import pandas as pd
import numpy as np

Exercício 1: Crie um dataframe a partir dos dados abaixo.
**Importante:** Os dados já estão na ordem correta.<br>

In [3]:
data = {'estado':['SP','DF','MT','SC','RS','GO'],
        'ano'   :[2020,2020,2020,2020,2020,2020],
        'pop'   :[46289333,3055149,3526220,7252502,11422973,7113540],
        'area'  :[248219,5760,903207,95730,281707,340242]}

df = pd.DataFrame(data)
df

  estado   ano       pop    area
0     SP  2020  46289333  248219
1     DF  2020   3055149    5760
2     MT  2020   3526220  903207
3     SC  2020   7252502   95730
4     RS  2020  11422973  281707
5     GO  2020   7113540  340242

Exercício 2: Crie um dataframe lendo a planilha reddit_vm.xlsx que foi disponibilizada.
Apresente as colunas e descreva o dataframe

In [4]:
# Definindo o local dos arquivos excel
xlsx_files = 'C:\\Users\\anton\\OneDrive\\Documentos\\Treinamento Cientista de Dados\\Python Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\xlsx\\'

In [4]:
dataframe = pd.read_excel(xlsx_files+'reddit_vm.xlsx')
print(type(dataframe))
print()
print(dataframe.columns)
print()
dataframe.describe()

<class 'pandas.core.frame.DataFrame'>

Index(['title', 'score', 'id', 'url', 'comms_num', 'created', 'body',
       'timestamp', 'Unnamed: 8'],
      dtype='object')

             score    comms_num       created
count  1424.000000  1424.000000  1.424000e+03
mean      3.887640     1.982444  1.537771e+09
std      31.648034    17.083783  6.971861e+07
min     -12.000000     0.000000  1.389624e+09
25%       1.000000     0.000000  1.553488e+09
50%       1.000000     0.000000  1.564984e+09
75%       4.000000     1.000000  1.578632e+09
max    1185.000000   596.000000  1.614933e+09

Exercício 3: Leia os arquivos do diretório e guarde em uma lista, em seguida gere um dataframe utilizando o indice da lista. Use um arquivo a sua escolha. <br>

- Apresente os arquivos que estão no diretório
- Apresente as primeiras linhas do dataframe 
- Descreva o dataframe

In [5]:
# Listando os arquivos
import os

files = os.listdir( xlsx_files )
print(type(files)) # é retornada uma lista, pode ser criado um loop para processamento 
                   ## sequencial de arquivos.
# Mostre todos os arquivos no diretório
for file in files:
   print(file)

<class 'list'>
Accidents7904.xlsx
Dataset.xlsx
netflix_titles.xlsx
reddit_vm.xlsx
Road-Accident-Safety-Data-Guide-1979-2004.xls
SaleData.xlsx
sales-funnel.xlsx
sliced_netflix.xlsx

In [8]:
dataframe = pd.read_excel(xlsx_files+files[-1])
print(type(dataframe))
print()
print(dataframe)
print()
dataframe.describe()
print(dataframe.columns)

<class 'pandas.core.frame.DataFrame'>

     Unnamed: 0                           title         director
0           100                        3 Idiots  Rajkumar Hirani
1           101               3 Seconds Divorce     Shazia Javed
2           102             3 Türken & ein Baby      Sinan Akkuş
3           103               30 Days of Luxury       Hani Hamdi
4           104              30 Minutes or Less  Ruben Fleischer
..          ...                             ...              ...
795         895                  Bibi & Tina II      Detlev Buck
796         896  Bibi & Tina: Girls Versus Boys      Detlev Buck
797         897   Bibi & Tina: Tohuwabohu Total      Detlev Buck
798         898                   Bibik-Bibikku              NaN
799         899             Big Bad Beetleborgs              NaN

[800 rows x 3 columns]

Index(['Unnamed: 0', 'title', 'director'], dtype='object')

Exercício 4: Crie um dataframe de uma pandas series. Utilize as listas abaixo.

In [ ]:
import pandas as pd 
  
author = ['Sebastião', 'Carla', 'Júlio', 'Juliana', 'Mariana'] 
article = [856, 1511, 1478, 3500, 8522] 
  
auth_series = pd.Series(author) 
article_series = pd.Series(article) 
  
frame = { 'Author': auth_series, 'Article': article_series } 
  
result = pd.DataFrame(frame) 
  
print(result)

Exercício 5 : Crie um dataframe, apresente as colunas e as primeiras linhas seguindo os passos abaixo:
* Crie um dataframe com 2 colunas, uma com 100 floats usando [Numpy Random](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.random.html#numpy-random-random) e outra gerando 100 inteiros utilizando [RandInt](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html#numpy-random-randint)
* A coluna 1 deve ser nomeada como floats e a 2 deve ser nomeada integers
* Apresente o datatype de cada coluna

In [9]:
data = {'floats'  : np.random.random(100),
        'integers': np.random.randint(low=0, high=1000, size=100)}

data_df = pd.DataFrame(data)
print('data_df.floats.dtype ='  ,data_df.floats.dtype)
print('data_df.integers.dtype =',data_df.integers.dtype)
print()
# ou
data_df.info()

data_df.floats.dtype = float64
data_df.integers.dtype = int32

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   floats    100 non-null    float64
 1   integers  100 non-null    int32
dtypes: float64(1), int32(1)
memory usage: 1.3 KB

Exercício 6: Escreva um programa Pandas para criar e exibir um DataFrame a partir de dados de um dicionário especificado que possui os rounds como índice.
* Apresente o dataframe
* Descreva o dataframe

In [11]:
data  = {'name': ['Gabriel', 'Michel', 'Antonio', 'Gisele', 'Sônia', 'Emily', 'Sub-Zero', 'Shang-Tsung', 'Scorpion', 'Kitana'],
        'pontos': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'tentativas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualificado': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
rounds = ['round1', 'round2', 'round3', 'round4', 'round5', 'round6', 'round7', 'round8', 'round9', 'round10']

In [12]:
df = pd.DataFrame(data , index=rounds)
df.head

<bound method NDFrame.head of                 name  pontos  tentativas qualificado
round1       Gabriel    12.5           1         yes
round2        Michel     9.0           3          no
round3       Antonio    16.5           2         yes
round4        Gisele     NaN           3          no
round5         Sônia     9.0           2          no
round6         Emily    20.0           3         yes
round7      Sub-Zero    14.5           1         yes
round8   Shang-Tsung     NaN           1          no
round9      Scorpion     8.0           2          no
round10       Kitana    19.0           1         yes>

Exercício 7: Leia o arquivo xlsx Road-Accident-Safety-Data-Guide-1979-2004 a sheet 'Casualty Type' e mostre sua informações:<br>
__*Veja qual o parametro para ler a sheet_name [aqui](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html#pandas-read-excel)*.__
* Quantos registros o dataframe tem?
* Qual o tamanho ocupado em memória?
* Quantas colunas ele tem? Apresente as colunas.
* Conte a quantidade de registros na primeira coluna
* Conte a quantidade de registros únicos na segunda coluna

In [14]:
accidents_df = pd.read_excel(xlsx_files+'Road-Accident-Safety-Data-Guide-1979-2004.xls', sheet_name='Casualty Type' )

In [15]:
# quantidade de registros
print('Quantidade de registros =',accidents_df.shape[0])

Quantidade de registros = 29

In [73]:
# Aqui pode ver a quantidade de colunas e o tamanho em memória
accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    29 non-null     int64
 1   label   29 non-null     object
dtypes: int64(1), object(1)
memory usage: 592.0+ bytes

In [16]:
# Para verificar somente a quantidade de colunas
print('Quantidade de colunas =',accidents_df.shape[1])
print('Colunas no dataframe  =',accidents_df.columns)

Quantidade de colunas = 2
Colunas no dataframe  = Index(['code', 'label'], dtype='object')

In [17]:
# Registros na coluna 1
accidents_df.loc[0:].count()[0]

29

In [ ]:
# Registros únicos na coluna 2
accidents_df.loc[0:].nunique()[0]

Exercício 8: Exporte a coluna 2 do dataframe anterior para os seguintes formatos e mostre-os no diretório:<br>
*Verifique qual dos arquivos ocupa menos espaço*

* csv
* json
* html

In [75]:
# Para CSV
accidents_df.label.to_csv('accidents_label.csv')

In [76]:
# Para JSON
accidents_df.label.to_json('accidents_label.json')

In [83]:
# Para HTML
accidents_to_html_df = accidents_df[['label']]
accidents_to_html_df.to_html('accidents_label.html')