In [1]:
print('Olá Mundo Python!')

Ola Mundo Python!

In [2]:
NumInt = 300 #Valor Inteiro
NumFloat = 3000.0 # Valor float/double
nome = 'Antonio Dantas'

print(NumInt) # Os nomes das variáveis são case-sensitive.
print(NumFloat)
print(nome)

300
3000.0
Antonio Dantas

In [3]:
print(9//2) # Divisão  de  piso (Floor  Division) - a  divisão
            # dos operandos em que o resultado é o quociente no qual  os  dígitos  após  o  ponto                  # decimal são removidos. Mas se um dos operandos for negativo, o  resultado  será                      # calculado,  ou  seja, arredondado para longe de zero (em direção ao infinito negativo):

print(9.0//2.0)
print(11//3)
print(11.0//3)
print(-11//3)
print(-11.0//3)

4
4.0
3
3.0
-4
-4.0

In [4]:
2**2 # Expoente

4

In [4]:
'''
    OPERADORES IN e NOT IN
'''
print (2 in [1,2,3,4])
print (5 not in [1,2,3,4])

True
True

In [5]:
print(NumInt, NumFloat, nome)

300 3000.0 Antonio Dantas

In [1]:
a=b=g=1
print(a,b,g)

1 1 1

In [2]:
a,b,g=1,2,3
print(a,b,g)
print(b)

1 2 3
2

In [3]:
a = 1
b = 2
g = 3
print(a)
print(b)
print(g)

1
2
3

In [8]:
print('Meu nome é %s e o meu peso é %dKg' % ('Antonio' , 110))

Meu nome é Antonio e o meu peso é 110Kg

In [11]:
para_str = """esta é uma longa sequência composta de
várias linhas e caracteres não imprimíveis, como TAB (\t) e eles aparecerão dessa maneira quando exibidos.
NEWLINE dentro da string, tem de ser explicitamente 
declarada com [\n] entre colchetes ou apenas uma NEWLINE com a 
atribuição de variável também será exibida"""

print(para_str)

esta é uma longa sequência composta de
várias linhas e caracteres não imprimíveis, como TAB (	) e eles aparecerão dessa maneira quando exibidos.
NEWLINE dentro da string, tem de ser explicitamente
declarada com [
] entre colchetes ou apenas uma NEWLINE com a
atribuição de variável também será exibida

In [12]:
print('C:\\\nowhere')

C:\
owhere