### Classificação

#### Classificar valores por linha/coluna
[Método sort_values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html#pandas-dataframe-sort-values) Classifique pelos valores ao longo de cada eixo.

Importante que os dados sejam do mesmo tipo

#### Classificando por coluna

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})

df

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

In [ ]:
df.sort_values(by='col1')

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

#### Classificando por múltiplas colunas

In [ ]:
print(df)
df.sort_values(by=['col1', 'col2'])

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

  col1  col2  col3 col4
1    A     1     1    B
0    A     2     0    a
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

#### Classificando de forma descendente

In [ ]:
print(df)
df.sort_values(by='col1', ascending=False)

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

  col1  col2  col3 col4
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B
3  NaN     8     4    D

#### Classificando colocando os NaNs para aparecer primeiro

In [ ]:
df.sort_values(by='col1', ascending=False, na_position='first')

  col1  col2  col3 col4
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B

#### Classificando linhas

In [ ]:
import pandas as pd

df = pd.DataFrame({0: [7, 2], 1: [3, 5], 2: [4, 8]})
df

   0  1  2
0  7  3  4
1  2  5  8

In [ ]:
df.sort_values(by=0,axis=1)

   1  2  0
0  3  4  7
1  5  8  2

#### Series não precisa de "by"

In [3]:
df['col2'].sort_values()

1    1
0    2
5    4
4    7
3    8
2    9
Name: col2, dtype: int64