## [Lendo arquivos csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [3]:
# lendo arquivo csv
import pandas as pd

data_path = 'G:\\Meu Drive\\Cursos e Treinamentos\\Cientista de Dados\\Treinamento Python\\Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\csv\\'

data = pd.read_csv(data_path+'netflix_titles.csv')

In [ ]:
# Visualizando os primeiros registros
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
data.describe(include='all') # Informa as colunas do dataset e dados a respeito delas

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,7787,7787,7787,5398,7069,7280,7777,7787.000000,7780,7787,7787,7787
unique,7787,2,7787,4049,6831,681,1565,NaN,14,216,492,7769
top,s1,Movie,3%,"Raúl Campos, Jan Suter",David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,Documentaries,Multiple women report their husbands as missin...
freq,1,5377,1,18,18,2555,118,NaN,2863,1608,334,3
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.932580,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.757395,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

In [ ]:
data.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [ ]:
# Fatiando os registros e retornando todas as colunas
data[16:700]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
16,s17,TV Show,Feb-09,NaN,"Shahd El Yaseen, Shaila Sabt, Hala, Hanadi Al-...",NaN,"March 20, 2019",2018,TV-14,1 Season,"International TV Shows, TV Dramas","As a psychology professor faces Alzheimer's, h..."
17,s18,Movie,22-Jul,Paul Greengrass,"Anders Danielsen Lie, Jon Øigarden, Jonas Stra...","Norway, Iceland, United States","October 10, 2018",2018,R,144 min,"Dramas, Thrillers","After devastating terror attacks in Norway, a ..."
18,s19,Movie,15-Aug,Swapnaneel Jayakar,"Rahul Pethe, Mrunmayee Deshpande, Adinath Koth...",India,"March 29, 2019",2019,TV-14,124 min,"Comedies, Dramas, Independent Movies","On India's Independence Day, a zany mishap in ..."
19,s20,Movie,'89,NaN,"Lee Dixon, Ian Wright, Paul Merson",United Kingdom,"May 16, 2018",2017,TV-PG,87 min,Sports Movies,"Mixing old footage with interviews, this is th..."
20,s21,Movie,​​Kuch Bheege Alfaaz,Onir,"Geetanjali Thapa, Zain Khan Durrani, Shray Rai...",India,"September 1, 2018",2018,TV-14,110 min,"Dramas, Independent Movies, International Movies",After accidentally connecting over the Interne...
...,...,...,...,...,...,...,...,...,...,...,...,...
695,s696,Movie,Bad Match,David Chirchirillo,"Jack Cutmore-Scott, Lili Simmons, Brandon Scot...","Singapore, United States","March 11, 2018",2017,TV-MA,83 min,Thrillers,A player who uses the internet to facilitate h...
696,s697,Movie,Bad Rap,Salima Koroma,"Jonathan Park, Awkwafina, David Lee, Richard Lee","United States, Canada","August 21, 2017",2016,TV-MA,83 min,"Documentaries, Music & Musicals",Four young Asian-American rappers strive to ac...
697,s698,Movie,Bad Seeds,Kheiron,"Kheiron, Catherine Deneuve, André Dussollier, ...","France, Belgium","December 21, 2018",2018,TV-MA,105 min,"Comedies, Dramas, International Movies","Troubled by his past, a scam artist who runs a..."
698,s699,TV Show,Badalte Rishton Ki Dastaan,NaN,"Additi Gupta, Sanjeeda Sheikh, Kiran Karmarkar...",India,"April 1, 2017",2013,TV-14,1 Season,"International TV Shows, TV Dramas","When a man is killed, his wife and his lover –..."
699,s700,Movie,Badha,"Sumitra Bhave, Sunil Sukthankar","Amruta Subhash, Rajesh More, Devika Daftardar,...",India,"January 1, 2018",2006,TV-14,91 min,"Dramas, International Movies",A young woman who is suspected of practicing b...

In [ ]:
# Retornando 1 coluna e fatiando
data['title'][16:700]

16                         Feb-09
17                         22-Jul
18                         15-Aug
19                            '89
20           ​​Kuch Bheege Alfaaz
                  ...
695                     Bad Match
696                       Bad Rap
697                     Bad Seeds
698    Badalte Rishton Ki Dastaan
699                         Badha
Name: title, Length: 684, dtype: object

## [Lendo planilhas xlsx](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

In [3]:
# imports
import pandas as pd

In [2]:
# Diretório com as planilhas

data_path = 'C:\\Users\\anton\\OneDrive\\Documentos\\Treinamento Cientista de Dados\\Python Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\xlsx\\'

#### a) Lendo arquivos xlsx passando o nome diretamente

In [ ]:
dataframe = pd.read_excel(data_path+'Dataset.xlsx')
print(type(dataframe))
print()
print(dataframe)
print()
dataframe.describe()

#### b) Lendo arquivos xlsx acessando posição na lista criada anteriormente

In [ ]:
df = pd.read_excel(data_path + files[1])
print(type(df))
print()
print(df)
print()
df.describe()

#### c) Lendo uma aba da planilha.
**Parâmetro sheet_name**

In [4]:
df = pd.read_excel(data_path+'Road-Accident-Safety-Data-Guide-1979-2004.xls',sheet_name='Casualty Type')
df

    code                                              label
0      0                                         Pedestrian
1      1                                            Cyclist
2      2       Motorcycle 50cc and under rider or passenger
3      3      Motorcycle 125cc and under rider or passenger
4      4  Motorcycle over 125cc and up to 500cc rider or...
5      5           Motorcycle over 500cc rider or passenger
6      8                     Taxi/Private hire car occupant
7      9                                       Car occupant
8     10          Minibus (8 - 16 passenger seats) occupant
9     11      Bus or coach occupant (17 or more pass seats)
10    16                                        Horse rider
11    17                      Agricultural vehicle occupant
12    18                                      Tram occupant
13    19  Van / Goods vehicle (3.5 tonnes mgw or under) ...
14    20  Goods vehicle (over 3.5t. and under 7.5t.) occ...
15    21   Goods vehicle (7.5 tonnes mgw and over) occupant
16    22                             Mobility scooter rider
17    23             Electric motorcycle rider or passenger
18    90                             Other vehicle occupant
19    97         Motorcycle - unknown cc rider or passenger
20    98            Goods vehicle (unknown weight) occupant
21   103            Motorcycle - Scooter rider or passenger
22   104                      Motorcycle rider or passenger
23   105        Motorcycle - Combination rider or passenger
24   106           Motorcycle over 125cc rider or passenger
25   108        Taxi (excluding private hire cars) occupant
26   109         Car occupant (including private hire cars)
27   110                     Minibus/Motor caravan occupant
28   113           Goods vehicle (over 3.5 tonnes) occupant

#### d) Lendo uma planiha mantendo o formato dos dados da coluna.
**Parâmetro dtype=object (Default = None)**

Verificar coluna codigocliente

In [4]:
import pandas as pd
import openpyxl

# print('Diretório: ',os.getcwd())

# data_path = os.getcwd()

# path = 'G:\\Meu Drive\\Cursos e Treinamentos\\Cientista de Dados\\Treinamento Python\\Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\'
nomeplanilha = 'consulta receita sng siseg.xlsx'

# print('Nome da planilha: ',nomeplanilha)

df = pd.read_excel(nomeplanilha, dtype=object)
df

,Unnamed: 0,titulo,documentofiscal,codigocliente,cliente,uf,statusdotitulo,empresaemitente,filial,empresarecebedora,...,codigodogrupo,grupoderecebimento,contadofluxodecaixa,centrodecusto,valorcentrocusto,valordecrescimo,valoracrescimo,quantidade,valorunitario,descricaoitem
0,0,255777,421387,00000000000191,BANCO DO BRASIL SA,DF,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"116.118,17","2.322,38","0,00",1,"116.118,17",DESCRICAO GENERICA
1,1,255777,421387,00000000000191,BANCO DO BRASIL SA,DF,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"65,12","1,30","0,00",1,"65,12",DESCRICAO GENERICA
2,2,254633,420364,00000208000100,BRB BANCO DE BRASILIA SA,DF,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"71,26","0,00","0,00",1,"71,26",DESCRICAO GENERICA
3,3,255796,421381,00000776000101,ITAU ADMINISTRADORA DE CONSORCIOS LTDA,SP,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"63.065,10","8.829,12","0,00",1,"63.065,10",DESCRICAO GENERICA
4,4,255672,421518,00068987000186,COOPERATIVA DE CREDITO SICOOB ARACREDI L,MG,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"71,26","1,43","0,00",1,"71,26",DESCRICAO GENERICA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
879,879,255654,421500,95213211000119,COOPERATIVA DE CRED POUP E INVES CAMINHO,RS,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"427,56","8,55","0,00",1,"427,56",DESCRICAO GENERICA
880,880,254732,420463,95783262000186,CARLESSI ADMINISTRADORA DE CONSORCIOS SC,SC,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"783,86","0,00","0,00",1,"783,86",DESCRICAO GENERICA
881,881,254592,420323,96479258000191,SCANIA ADMINISTRADORA DE CONSORCIOS LTDA,SP,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"6.449,03","0,00","0,00",1,"6.449,03",DESCRICAO GENERICA
882,882,254967,420698,97467856000103,RODOPARANA IMPLEMENTOS RODOVIARIOS LTDA,PR,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"1.460,83","0,00","0,00",1,"1.460,83",DESCRICAO GENERICA
883,883,255768,421498,97489280000185,C.ECO. CRED. M.PROF.SAUDE DA REGIAO SUL,BA,Pago,FED NAC EMP SEG PRIV CAPIT E PREV COMP,FENASEG MATRIZ,FED NAC EMP SEG PRIV CAPIT E PREV COMP,...,0106,RECEITAS CONSULTAS/REG. SNG,030101,F331104002 - CONSULTAS SNG REGISTRO NÃO CUMULA...,"391,93","7,84","0,00",1,"391,93",DESCRICAO GENERICA

## [Lendo arquivos CSV](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) ou arquivos de texto

In [3]:
# Armazene em uma variável o local onde estarão os arquivos que serão utilizados
data_path = 'C:\\Users\\anton\\OneDrive\\Documentos\\Treinamento Cientista de Dados\\Python Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\csv\\'

# Criando o dataframe
df_csv = pd.read_csv(data_path+'Arquivo-Treino.csv')

# Descreva o DF
print(df_csv.describe())
#print(df_csv)
print(df_csv.head())

       ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
count       614.000000         614.000000  592.000000         600.00000
mean       5403.459283        1621.245798  146.412162         342.00000
std        6109.041673        2926.248369   85.587325          65.12041
min         150.000000           0.000000    9.000000          12.00000
25%        2877.500000           0.000000  100.000000         360.00000
50%        3812.500000        1188.500000  128.000000         360.00000
75%        5795.000000        2297.250000  168.000000         360.00000
max       81000.000000       41667.000000  700.000000         480.00000

       Credit_History
count      564.000000
mean         0.842199
std          0.364878
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001002   Male      No          0      Graduate            No
1  LP001003   Male     Yes          1      Graduate            No
2  LP001005   Male     Yes          0      Graduate           Yes
3  LP001006   Male     Yes          0  Not Graduate            No
4  LP001008   Male      No          0      Graduate            No

   ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0             5849                0.0         NaN             360.0
1             4583             1508.0       128.0             360.0
2             3000                0.0        66.0             360.0
3             2583             2358.0       120.0             360.0
4             6000                0.0       141.0             360.0

   Credit_History Property_Area Loan_Status
0             1.0         Urban           Y
1             1.0         Rural           N
2             1.0         Urban           Y
3             1.0         Urban           Y
4             1.0         Urban           Y