### Gerando arquivos

#### Gerar arquivo Excel
[Método to_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html#pandas-dataframe-to-excel) Escreva o objeto em uma planilha do Excel.

**Para gravar um único objeto em um arquivo Excel .xlsx:** É necessário apenas especificar um nome de arquivo de destino. 

**Para gravar em várias planilhas**: É necessário criar um objeto ExcelWriter com um nome de arquivo de destino e especificar uma planilha no arquivo para gravar.

**Múltiplas planilhas podem ser gravadas especificando-se sheet_name exclusivo**

Com todos os dados gravados no arquivo, é necessário salvar as alterações. 

Observe que a criação de um objeto ExcelWriter com um nome de arquivo já existente fará com que o conteúdo do arquivo existente seja apagado.

In [3]:
# imports
import pandas as pd

# Armazene em uma variável o local onde estarão os arquivos que serão utilizados
data_path = 'G:\\Meu Drive\\Cursos e Treinamentos\\Cientista de Dados\\Treinamento Python\\Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\csv\\'

# lendo arquivo csv
data = pd.read_csv(data_path+'netflix_titles.csv')
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [4]:
# Retornando 2 colunas e fatiando um intervalo de linhas
sliced_df = data[['title','director']][100:900]

In [5]:
# Exportar os dados fatiados para uma arquivo excel
sliced_df.to_excel('sliced_netflix.xlsx')

sliced_df

                              title         director
100                        3 Idiots  Rajkumar Hirani
101               3 Seconds Divorce     Shazia Javed
102             3 Türken & ein Baby      Sinan Akkuş
103               30 Days of Luxury       Hani Hamdi
104              30 Minutes or Less  Ruben Fleischer
..                              ...              ...
895                  Bibi & Tina II      Detlev Buck
896  Bibi & Tina: Girls Versus Boys      Detlev Buck
897   Bibi & Tina: Tohuwabohu Total      Detlev Buck
898                   Bibik-Bibikku              NaN
899             Big Bad Beetleborgs              NaN

[800 rows x 2 columns]

### Inserindo mais de uma aba em uma planilha

In [6]:
country_df = data[['title','director']][100:900]

with pd.ExcelWriter('sliced_netflix.xlsx') as writer:
    sliced_df.to_excel(writer,sheet_name='Title x Director')
    country_df.to_excel(writer, sheet_name='Country')

### Auto Dimensionando largura das colunas usando [Openpyxl](https://openpyxl.readthedocs.io/en/stable/)

In [10]:
import pandas as pd
import openpyxl

#print('Diretório: ',os.getcwd())

#data_path = os.getcwd()

#path = 'G:\\Meu Drive\\Cursos e Treinamentos\\Cientista de Dados\\Treinamento Python\\Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\'
nomeplanilha = 'consulta receita sng siseg.xlsx'

#print('Nome da planilha: ',nomeplanilha)

df = pd.read_excel(nomeplanilha,dtype=object)
writer = pd.ExcelWriter('planilha teste.xlsx',engine='openpyxl')
df.to_excel(writer, index=False, sheet_name='Sheet1')

# Autosize remaining columns
worksheet = writer.sheets['Sheet1']

#print('Worksheet columns: ', worksheet.columns)

for col in worksheet.columns:
    #print('Col: ',col)
    max_length = 0
    for cell in col:
        #print('Cel: ',cell)
        if isinstance(cell.value, str):
             max_length = max(max_length, len(str(cell.value))) # RETORNA O MAIOR TAMANHO ENTRE 2 TAMANHOS
        elif isinstance(cell.value, int) or isinstance(cell.value, float):
             max_length = max(max_length, len(str(cell.value)))
    
    col = col[0].column_letter
    #print('1 col da tupla: ',col)
    worksheet.column_dimensions[col].width = max_length + 2

worksheet['A1'] = '' # APAGANDO O CONTEÚDO DA CÉLULA A1
writer.close()

#### Gerar arquivo CSV
[Método to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html#pandas-dataframe-to-csv) Grave o objeto em um arquivo csv.

In [7]:
sliced_df.to_csv('sliced_netflix.csv')

sliced_df

                              title         director
100                        3 Idiots  Rajkumar Hirani
101               3 Seconds Divorce     Shazia Javed
102             3 Türken & ein Baby      Sinan Akkuş
103               30 Days of Luxury       Hani Hamdi
104              30 Minutes or Less  Ruben Fleischer
..                              ...              ...
895                  Bibi & Tina II      Detlev Buck
896  Bibi & Tina: Girls Versus Boys      Detlev Buck
897   Bibi & Tina: Tohuwabohu Total      Detlev Buck
898                   Bibik-Bibikku              NaN
899             Big Bad Beetleborgs              NaN

[800 rows x 2 columns]

#### Gerar arquivo JSON
[Método to_json](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html#pandas-dataframe-to-json) Converta o objeto em uma string JSON.

In [10]:
sliced_df.to_json('sliced_netflix.json')

#### Gerar arquivo HTML

In [7]:
sliced_df.to_html('sliced_netflix.html')