## Gravando em Banco de Dados

#### [python-oracledb interface] (https://www.oracle.com/database/technologies/appdev/python/quickstartpythononprem.html) </br>
Esta interface permite desenvolver, rapidamente, aplicações que executam SQL ou instruções PL/SQL, permitindo trabalhar com muitos tipos de dados. incluindo JSON. Suas aplicações também podem usar documentos Oracle por meio de chamadas SODA (Simple Oracle Document Access). </br>
<br>Python-oracledb é o novo nome do popular driver cx_Oracle da Oracle

**Passos:** 

<ol>
    <b><li>Instalar o python-oracledb no Anaconda:</b> </br>
            conda config --add channels conda-forge </br>
            conda config --set channel_priority strict </br>
            conda install oracledb --debug</br>
    <b><li>Criar um objeto de conexão</b></br></li>
</ol>

In [2]:
from conexao import conexao as con

connection = con(senha="hr",usuario="hr",ip="192.168.0.8",sid="oracle")

OperationalError: DPY-6005: cannot connect to database. Connection failed with "[WinError 10061] Nenhuma conexão pôde ser feita porque a máquina de destino as recusou ativamente"

## CRUD

#### SELECT

##### Extraindo linha a linha - fetchone()

In [115]:
cursor = connection.cursor()
employee_cursor = cursor.execute('SELECT * FROM employees')

umalinha = employee_cursor.fetchone()
print("Uma linha: ",umalinha)

outralinha = employee_cursor.fetchone()
print("Outra linha: ",outralinha)

Uma linha:  (198, 'Donald', 'OConnell', 'DOCONNEL', '650.507.9833', datetime.datetime(1999, 6, 21, 0, 0), 'SH_CLERK', 2600.0, None, 124, 50)
Outra linha:  (199, 'Douglas', 'Grant', 'DGRANT', '650.507.9844', datetime.datetime(2000, 1, 13, 0, 0), 'SH_CLERK', 2600.0, None, 124, 50)

#### SELECT COM WHERE

In [3]:
from conexao import conexao as con

connection = con(senha="hr", usuario="hr", ip="192.168.0.8", sid="oracle")

cursor = connection.cursor()
codigoemployee = '104'

employee_cursor = cursor.execute('SELECT * FROM employees WHERE employee_id = :employee_code',employee_code = codigoemployee)

umalinha = employee_cursor.fetchone()
print("Uma linha: ", umalinha)

Successfully connected to Oracle Database
Uma linha:  (104, 'Bruce', 'Ernst', 'BERNST', '590.423.4568', datetime.datetime(1991, 5, 21, 0, 0), 'IT_PROG', 6000.0, None, 103, 60)

#### SELECT COM WHERE IN

In [4]:
from conexao import conexao as con

connection = con(senha="hr", usuario="hr", ip="192.168.0.8", sid="oracle")

cursor = connection.cursor()
codigosemployees = ('104','200','203') # TEM QUE UMA TUPLA

employee_cursor = cursor.execute(f'SELECT * FROM employees WHERE employee_id IN {codigosemployees}')

todasaslinhas = employee_cursor.fetchall()
print("Todas as linhas: ", todasaslinhas)

Successfully connected to Oracle Database
Todas as linhas:  [(104, 'Bruce', 'Ernst', 'BERNST', '590.423.4568', datetime.datetime(1991, 5, 21, 0, 0), 'IT_PROG', 6000.0, None, 103, 60), (200, 'Jennifer', 'Whalen', 'JWHALEN', '515.123.4444', datetime.datetime(1987, 9, 17, 0, 0), 'AD_ASST', 4400.0, None, 101, 10), (203, 'Susan', 'Mavris', 'SMAVRIS', '515.123.7777', datetime.datetime(1994, 6, 7, 0, 0), 'HR_REP', 6500.0, None, 101, 40)]

##### Inserindo em um Dataframe

In [131]:
import pandas as pd

employee_cursor = cursor.execute('SELECT first_name,last_name,salary FROM employees')
employee_record = employee_cursor.fetchone()

employee_record = [employee_record]

employees_df = pd.DataFrame(employee,columns=['Nome','Último nome','Salário'])

while employee_cursor.fetchone():
    new_employee_record = [employee_cursor.fetchone()]
    new_employee_df = pd.DataFrame(new_employee_record, columns=employees_df.columns)
    
    employees_df = pd.concat([employees_df,new_employee_df],ignore_index=True)

employees_df

           Nome Último nome  Salário
0        Donald    OConnell   2600.0
1      Jennifer      Whalen   4400.0
2           Pat         Fay   6000.0
3       Hermann        Baer  10000.0
4       William       Gietz   8300.0
5         Neena     Kochhar  17000.0
6     Alexander      Hunold   9000.0
7         David      Austin   4800.0
8         Diana     Lorentz   4200.0
9        Daniel      Faviet   9000.0
10       Ismael     Sciarra   7700.0
11         Luis        Popp   6900.0
12    Alexander        Khoo   3100.0
13        Sigal      Tobias   2800.0
14        Karen  Colmenares   2500.0
15         Adam       Fripp   8200.0
16       Shanta     Vollman   6500.0
17        Julia       Nayer   3200.0
18        James      Landry   2400.0
19        Laura      Bissot   3300.0
20        James      Marlow   2500.0
21        Jason      Mallin   3300.0
22           Ki         Gee   2400.0
23       Renske      Ladwig   3600.0
24         John         Seo   2700.0
25       Trenna        Rajs   3500.0
26      Randall       Matos   2600.0
27         John     Russell  14000.0
28      Alberto   Errazuriz  12000.0
29        Eleni     Zlotkey  10500.0
30        David   Bernstein   9500.0
31  Christopher       Olsen   8000.0
32       Oliver     Tuvault   7000.0
33      Patrick       Sully   9500.0
34      Lindsey       Smith   8000.0
35       Sarath      Sewall   7000.0
36     Danielle      Greene   9500.0
37        David         Lee   6800.0
38         Amit       Banda   6200.0
39     Harrison       Bloom  10000.0
40      William       Smith   7400.0
41      Sundita       Kumar   6100.0
42       Alyssa      Hutton   8800.0
43         Jack  Livingston   8400.0
44      Charles     Johnson   6200.0
45         Jean      Fleaur   3100.0
46       Girard       Geoni   2800.0
47       Alexis        Bull   4100.0
48      Anthony      Cabrio   3000.0
49     Jennifer       Dilly   3600.0
50      Randall     Perkins   2500.0
51      Britney     Everett   3900.0
52        Vance       Jones   2800.0
53        Kevin      Feeney   3000.0