In [16]:
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Python","pandas"],
    'Fee' :[20000,25000,22000,30000],
    'Duration':['30days','40days','35days','50days'],
    'Discount':[1000,2300,1200,2000]
              }
index_labels=['r1','r2','r3','r4']
df = pd.DataFrame(technologies,index=index_labels)
print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Python  22000   35days      1200
r4   pandas  30000   50days      2000

In [17]:
# Get name of the index column of DataFrame
print(df.index.name) 

df.index.name='Index1'
print(df)

None
        Courses    Fee Duration  Discount
Index1
r1        Spark  20000   30days      1000
r2      PySpark  25000   40days      2300
r3       Python  22000   35days      1200
r4       pandas  30000   50days      2000

In [18]:
# Get pandas index/name by set_index
df = pd.DataFrame(technologies).set_index('Courses')
print(df)

           Fee Duration  Discount
Courses
Spark    20000   30days      1000
PySpark  25000   40days      2300
Python   22000   35days      1200
pandas   30000   50days      2000

In [19]:
# To get Index and Column names
print (df.index.name)
print (df.columns.name)

Courses
None

In [21]:
# Rename a column by rename_axis method
df = df.rename_axis('Courses1')
print(df)

            Fee Duration  Discount
Courses1
Spark     20000   30days      1000
PySpark   25000   40days      2300
Python    22000   35days      1200
pandas    30000   50days      2000

In [24]:
# Rename index column by rename_axis() method
df = pd.DataFrame(technologies).set_index('Courses').rename_axis('Courses_Name', axis=1)
print(df)

Courses_Name    Fee Duration  Discount
Courses
Spark         20000   30days      1000
PySpark       25000   40days      2300
Python        22000   35days      1200
pandas        30000   50days      2000

In [25]:
# Get pandas index title/name by index and Column parameter
df = df.rename_axis(index='RowNumber', columns="Row")
print(df)

Row          Fee Duration  Discount
RowNumber
Spark      20000   30days      1000
PySpark    25000   40days      2300
Python     22000   35days      1200
pandas     30000   50days      2000

In [26]:

# Removing index and columns names to set it none
df = df.rename_axis(index=None, columns=None)
print(df)

           Fee Duration  Discount
Spark    20000   30days      1000
PySpark  25000   40days      2300
Python   22000   35days      1200
pandas   30000   50days      2000

In [27]:

# Using de.indx.rename get pandas index title/name
df.index.rename('Row', inplace=True)
print(df)

           Fee Duration  Discount
Row
Spark    20000   30days      1000
PySpark  25000   40days      2300
Python   22000   35days      1200
pandas   30000   50days      2000

In [ ]:

# Add multilevel index using set_index() 
df2 = df.set_index(['Courses', 'Duration'], append=True)
print(df2)

In [ ]:

# Rename Single index from multi level
df2.index = df2.index.set_names('Courses_Duration', level=2)
print(df2)

In [ ]:

# Rename all indexes
df2.index=df2.index.rename(['Row','Courses_Name','Courses_Duration'])
print(df2)