In [7]:
### Acessando os dados
import pandas as pd

data_path = 'C:\\Users\\anton\\OneDrive\\Documentos\\Treinamento Cientista de Dados\\Python Aplicado a Big Data\\Aula 3 - 08032021 - Pandas\\sample-data\\xlsx\\'


df_funnel = pd.read_excel(data_path+'sales-funnel.xlsx')

df_funnel

    Account                          Name  ...   Price     Status
0    714466               Trantow-Barrows  ...   30000  presented
1    714466               Trantow-Barrows  ...   10000  presented
2    714466               Trantow-Barrows  ...    5000    pending
3    737550  Fritsch, Russel and Anderson  ...   35000   declined
4    146832                  Kiehn-Spinka  ...   65000        won
5    218895                     Kulas Inc  ...   40000    pending
6    218895                     Kulas Inc  ...   10000  presented
7    412290                 Jerde-Hilpert  ...    5000    pending
8    740150                    Barton LLC  ...   35000   declined
9    141962                    Herman LLC  ...   65000        won
10   163416                   Purdy-Kunde  ...   30000  presented
11   239344                    Stokes LLC  ...    5000    pending
12   239344                    Stokes LLC  ...   10000  presented
13   307599   Kassulke, Ondricka and Metz  ...    7000        won
14   688981                   Keeling LLC  ...  100000        won
15   729833                     Koepp Ltd  ...   65000   declined
16   729833                     Koepp Ltd  ...    5000  presented

[17 rows x 8 columns]

In [8]:
df_funnel.describe(include='all')

              Account             Name  ...          Price     Status
count       17.000000               17  ...      17.000000         17
unique            NaN               12  ...            NaN          4
top               NaN  Trantow-Barrows  ...            NaN  presented
freq              NaN                3  ...            NaN          6
mean    462254.235294              NaN  ...   30705.882353        NaN
std     259093.442862              NaN  ...   28444.605609        NaN
min     141962.000000              NaN  ...    5000.000000        NaN
25%     218895.000000              NaN  ...    7000.000000        NaN
50%     412290.000000              NaN  ...   30000.000000        NaN
75%     714466.000000              NaN  ...   40000.000000        NaN
max     740150.000000              NaN  ...  100000.000000        NaN

[11 rows x 8 columns]

In [9]:
df_funnel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
Account     17 non-null int64
Name        17 non-null object
Rep         17 non-null object
Manager     17 non-null object
Product     17 non-null object
Quantity    17 non-null int64
Price       17 non-null int64
Status      17 non-null object
dtypes: int64(3), object(5)
memory usage: 1.2+ KB

In [10]:

df_funnel['Status'] = df_funnel['Status'].astype("category")
df_funnel['Status'].cat.set_category([])

# Mudou o tipo de Status para category
df_funnel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
Account     17 non-null int64
Name        17 non-null object
Rep         17 non-null object
Manager     17 non-null object
Product     17 non-null object
Quantity    17 non-null int64
Price       17 non-null int64
Status      17 non-null category
dtypes: category(1), int64(3), object(4)
memory usage: 1.3+ KB